* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.topbar {
    position: sticky;
    z-index: 1;
}
.mail-tell {
    position: sticky;
}
.topbar {
    display: inline-flex;
    width: 99%;
    height: 30px;
    margin: 5px;
    background-color: aqua
    
}
.mail-tell {
    width: 75%;
   display: inline-flex;
    padding-left: 50px;
    padding-top: 5px;
    margin: 1px;
    
}
.mail {
    padding-right: 20px;
    
}

.fa-regular, .fa-solid {
    padding-right: 15px;
}

.face-insta {
    padding-left: 5px;
    padding-top: 5px;
    display: inline-flex;
    margin: 1px;

}
.fa-brands {
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}
.fa-instagram {
    padding-left: 15px;
}
.logo-nav-bskt-prfl
{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 25px;
    display: inline-flex;
    width: 99%;
    background-color: bisque;
    margin-left: 5px;
    height: 120px;
}

.logo {
padding-right: 25px;
}
.logo-txt {
    font-style: italic;
font-size: 75px;
color: #000000;
font-weight: 400;
font-family: "Nova Oval";
}

ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 50px;
}
li{
    padding-left: 50px;
    font-size: 25px;
    padding-top: 25px;
    cursor: pointer;
}
/*
li:hover {
    border: 1px solid transparent;
}*/
.litem:hover {
       font-style: italic;
}
.bskt, .prfl {
    font-size: 25px;
    cursor: pointer;
}

.bskt-prfl {
    padding-left: 25%;
    display: inline-flex;
    padding-top: 30px;
}

/*slide show======================================================================*/

.slideshow {
      width: 99%;
      /*max-width: 600px;*/
      height: 500px;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      margin: 5px;
    }

    .slides {
      display: flex;
      width: 100%;
      animation: slide 10s infinite;
    }

   .slides img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @keyframes slide {
      0% { transform: translateX(0); }
      20% { transform: translateX(0); }
      25% { transform: translateX(-100%); }
      45% { transform: translateX(-100%); }
      50% { transform: translateX(-200%); }
      70% { transform: translateX(-200%); }
      75% { transform: translateX(-300%); }
      95% { transform: translateX(-300%); }
      100% { transform: translateX(0); }
    }
    /* slideshow end ====================================================================*/
    /*.firstpart {
        width: 100%;
        margin:5px 5px;
    }*/
    .photoitem {
        display: inline-flex;
        justify-content: space-between;
    }

    .card {
        width: 200px;
        height: 200px;
       border-radius: 150px;
        border: 1px solid black;
    }
    .ph1 {
        padding-left: 175px;
        padding-top: 75px;
        width: 200px;
        height: 200px;
        padding-right: 175px;
        text-align: center !important;
    }
    .skrpt1 {
        align-content: center;
        width: 99%;
        text-align: center;
        /*padding-top: 95px;*/
    }
    .sub {
        padding-top: 7px;
        margin: 1px;
    }


   .btn-link {
       /* align-items: center !important;
        text-align: center;
        align-self: center;*/
        padding-top: 15px;
        height: 20px;
    }
    .btns {
        padding-top: 15px;
        height: 20px;
    }
   /* .btn {
        align-items: center;
        align-content: center;
        align-self: center;
    }*/
    
    .txt-btn {
        height: 50px;
        width: 200px;
    }
    .btn {
        cursor: pointer;
        text-emphasis-color: yellow;
        border-color: aquamarine;
       /* height: 18px;
        width: 40px;*/
        
    }
    .btn:hover {
  background-color: #2ecc71;
}


/* second part */



/*.secondpart {
   background-color: blue !important; 
   width: 99%;
   height: 200px;
   border:1px solid #000000 ;
}*/

.card1 {
    height: 280px;
    width: 200px;
    border: 1px solid black;
}

.firstpart, .secondpart {
    height: 475px;
    flex-wrap: wrap;
    width: max-content;
}
.secondpart {
    background-color: bisque;
    
}
.txt1 {
    padding-bottom: 5px;
    padding-top: 10px;
}

.pgend {
    padding:7px;
    margin: 5px;
    background-color: #000000;
    margin-top: 15px !important;
    
}
.endtxt {
    color: white;
}